@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

.header-wrapper{
    height: 75px;
    width: 100%;
    align-items: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

