

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif
}

.outer-container{
    display: flex;
    width:100%;
    background-color:#fbfaff;
}

.conside{
    width: 100%;
}

.star:before {
    content: "\2606";
    position: absolute;
    visibility:visible;
 }
 .star:checked:before {
    content: "\2605";
    color: goldenrod;
    position: absolute;
 }
 

 




